src/server/container/shared/src/wsdl/com/bluejungle/destiny/interfaces/UserPreferencesInterfaces.v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
					xmlns:xs="http://www.w3.org/2001/XMLSchema" 
                    xmlns:tns="http://bluejungle.com/destiny/interfaces/user_preferences/v1"
					targetNamespace="http://bluejungle.com/destiny/interfaces/user_preferences/v1"
					xmlns:basicFaults="http://bluejungle.com/destiny/types/secure_session/v1">
			
	<wsdl:types>
		<xs:schema targetNamespace="http://bluejungle.com/destiny/services/inquiry/v1">
			<xs:import namespace="http://bluejungle.com/destiny/types/secure_session/v1" schemaLocation="../types/SecureSessionTypes.v1.xsd"/>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="changePasswordRequest">
		<wsdl:part name="oldPassword" type="xs:string"/>
		<wsdl:part name="newPassword" type="xs:string"/>        
	</wsdl:message>
    
    <wsdl:message name="changePasswordResponse">
    	<wsdl:part name="response" type="xs:string"/>
    </wsdl:message>
    
    <wsdl:message name="InvalidPasswordFault">
		<wsdl:part name="InvalidPasswordFault" element="basicFaults:InvalidPasswordFault"/>
    </wsdl:message>

    <wsdl:message name="AccessDeniedFault">
		<wsdl:part name="AccessDeniedFault" element="basicFaults:AccessDeniedFault"/>
    </wsdl:message>
   					
	<wsdl:portType name="userPreferencesIF">		
		<!-- Changes User's Password -->
		<wsdl:operation name="changePassword">
			<wsdl:input message="tns:changePasswordRequest"/>
			<wsdl:output message="tns:changePasswordResponse"/>
			<wsdl:fault name="InvalidPasswordFault" message="tns:InvalidPasswordFault"/>
			<wsdl:fault name="AccessDeniedFault" message="tns:AccessDeniedFault"/>
		</wsdl:operation>
	</wsdl:portType>
    
</wsdl:definitions>
